.workshop
  - if  talk.talk_type.workshop
    - if !talk.ws_full?
      %p
        Bare #{talk.ws_free_places} plasser igjen!
        = link_to "Logg inn for å melde deg på.", new_user_session_url(:save => true)  unless current_user
    - elsif !current_user 
      %p Ingen plasser igjen.

    - if current_user 
      = workshop_participation_link(talk, current_user) 
      - if talk.users.include?(current_user)|| current_user.admin
        = conditional_link_to_participant_list(talk)