:markdown
  Dette er en bekreftelse på at #{@name} (#{@email})  har registrert seg til Smidigkonferansen.
  Brukeren har ikke betalt med PayPal, men ønsker i stedet å benytte seg av en mulighet for
  å få gratis adgang til konferansen: #{@description}.

  Behandle brukerens informasjon på #{@users_url}.


  Med vennlig hilsen

  Arrangørene av Smidigkonferansen
