:markdown
  Hei, #{@name}

  Dette er en bekreftelse på at du har registrert bruker på
  2013.smidig.no med brukernavn #{@email}.

  Vi vil ta kontakt for å bekrefte registreringsdetaljene.

  Velkommen til Smidig 2013!


  Med smidig hilsen

  Arrangørene av Smidig 2013