:markdown
  Dette er en bekreftelse på at #{@name}  har bedt om å få
  tilsendt en faktura på pålydende Kroner #{@amount},-

  Gå hit for å behandle inkomne fakturaer: #{@payments_manual_url}


  Med vennlig hilsen

  Arrangørene av Smidigkonferansen
