:markdown
  Dette er en bekreftelse på at #{@name}  har bedt å få
  tilsendt en faktura på kroner #{@amount},-

  Vi vil behandle forespørselen så fort det lar seg gjøre.


  Med vennlig hilsen

  Arrangørene av Smidigkonferansen