:markdown
  Hei, #{@user.name}

  Dette er en bekreftelse på at du har registrert bruker på
  2013.smidig.no med brukernavn = #{@user.email}.

  Når du har betalt konferansen vil du motta en separat
  mail med en bekreftelse av betalingen.

  Dersom du har problemer med betalingen eller du ikke mottar
  en betalingsbekreftelse, ta kontakt med oss ved å svare på denne
  mailen.

  Vi har ikke landet alle detaljer for Smidig 2013 og søker derfor 
  dine inspill. Vi ber om at du setter av 5 minutter til å svare på
  [en kort undersøkelse](https://docs.google.com/forms/d/1n-whKRgdKyWhTVCNj-EAf463_7bllpZxh7-PVtjqtNs/viewform). 

  Dine tilbakemeldinger blir vesentlige i arbeidet med Smidig 2013 som 
  arrangeres i Oslo den 5. og 6. november.


  Følg gjerne @smidig på Twitter.


  Med smidig hilsen

  Arrangørene av Smidig 2013
