:markdown
  Hei, #{@user.name}

  Dette er en bekreftelse på at du har registrert bruker på
  2016.smidig.no med brukernavn #{@user.email}.

  Når du har betalt konferansen vil du motta en separat
  mail med en bekreftelse av betalingen.

  Dersom du har problemer med betalingen eller du ikke mottar
  en betalingsbekreftelse, ta kontakt med oss ved å svare på denne
  mailen.

  Smidig 2016 arrangeres i Oslo den 24. - 25. oktober.

  Følg gjerne @smidig på Twitter.

%br
Med smidig hilsen
%br
%br
Arrangørene av Smidigkonferansen
