:markdown
  Dette er en bekreftelse på at #{@name} <#{@email}>  har registrert seg til Smidig 2016.
  Brukeren har ikke betalt og angitt at han ønsker å foreslå en lyntale eller workshop.

  Behandle brukerens informasjon på #{@user_url}.


  Med vennlig hilsen

  Smidigkonferansen
