:markdown
  Hei, #{@speaker}

  Vi har gleden av å fortelle deg at ditt bidrag "#{@talk}" til Smidig 2016 har blitt godkjent.

  Dersom du nå vet at du ikke vil ha mulighet til å holde dette bidraget likevel, vil vi gjerne at du gir oss beskjed på epost <kontakt@smidig.no> snarest, slik at vi kan gi plassen til noen andre.

  Dersom du ønsker å gjøre noen endringer i bidragsbeskrivelsen din kan du gjøre det innen 10. oktober.


  Med vennlig hilsen

  Arrangørene av Smidigkonferansen
