:markdown
  **Det er noen som vil tipse deg om årets Smidigkonferanse!**

  Vi tror at IT-prosjekter i Norge kan lære mye av prinsippene bak smidig
  utvikling. Derfor arrangerer vi Smidigkonferansen for å dele erfaringer og
  bidra til å øke kunnskapen om smidige metoder i Oslo og Norge.

  Smidigkonferansen har gleden av å invitere til inspirasjon og deling. Bli med
  på Smidig 2015 den 02. - 03. november!

  Det er kun noen uker til - så her er det ingen grunn til å vente - registrer
  deg på [smidig.no][sign-up] nå!

  Smidig 2015 Keynotes i år:

  * TBA


  Har du noe å dele?

  TBA - oppdater følgende fra 2014

  I fjor hadde vi 61 lyntaler, 3 foredrag, 5 workshops og 2 keynotes! Kunne du
  tenke deg å holde en lyntale/ws på Smidig 2014, eller kjenner du noen andre
  som burde gjøre det? Vi har allerede begynt å akseptere lyntale- og
  workshopforslag. Se listen over [foreløpig godkjente foredrag][talks] og følg
  med på [Twitter][twitter] og [Facebook][facebook]!

  Ved spørsmål, ta kontakt med oss på epost kontakt@smidig.no.

  Vi gleder oss til å se deg på Smidig 2015.

  Med vennlig hilsen,  
  Smidigkonferansen  
  2015.smidig.no

  [sign-up]: #{new_user_registration_url}
  [talks]: #{talks_list_url}
  [twitter]: https://twitter.com/smidig
  [facebook]: https://www.facebook.com/smidig
