:markdown
  Dette er en bekreftelse på at du har blit registrert som deltaker
  på Smidig 2015 med epost (#{@email}). Du ble meldt på av #{@added_by_user_name}.

  For å kunne logge inn trenger du å resette passordet ditt.
  Dette gjøres ved å benytte følgende url: #{@reset_password_url}.


  Med vennlig hilsen

  Arrangørene av Smidigkonferansen
