%tr
  %td
    =talk.title
  %td
    =talk.user.name
  %td
    =talk.created_at
  %td
    =talk.upvotes.size
    -if !current_user.voted_as_when_voted_for talk
      =link_to "+1", vote_path(talk), :action => :vote, :method => :post, :class => 'btn btn-warning'
    -else 
      =link_to "-1", vote_path(talk), :action => :vote, :method => :post, :class => 'btn btn-warning'
  %td
    =talk.status
  %td
    =talk.talk_type.name
  %td
    %span.pull-right
      =link_to "Vis", talk_path(talk), :class => 'btn btn-success'
      =link_to "Editer", edit_talk_path(talk), :class => 'btn btn-success'
      =link_to "Slett", talk, confirm: 'Are you sure you want to delete this talk?', :method => :delete, :class => 'btn btn-danger'