%tr{:id => "talk_#{talk.id}"}
  %td{"data-sort-value" => talk.title, "data-value" => talk.title}
    =talk.title
  %td
    =talk.user.name
    (#{talk.user.company})
  %td.votes{"data-sort-value" => talk.upvotes.size}
    .input-append
      %input.span2{:type=>"text", :disabled => 'disabled', :value => talk.upvotes.size}
      -if !current_user.voted_as_when_voted_for talk
        =link_to vote_path(talk), {:action => :vote, :method => :post, :class => 'btn', :remote => true} do
          %i.icon-thumbs-up
      -else 
        =link_to vote_path(talk), {:action => :vote, :method => :post, :class => 'btn btn-success', :remote => true} do
          %i.icon-thumbs-down
  %td{"data-sort-value" => t("activerecord.attributes.talk.status." + talk.status)}
    =t("activerecord.attributes.talk.status." + talk.status)
  %td
    =talk.talk_type.name
  %td
    =talk.talk_category.name
  %td
    =talk.created_at.to_formatted_s(:short)
  %td
    %a.btn.btn-success.expand
      %i.icon-plus
%tr.tablesorter-childRow
  %td{"colspan" => 4, "class" => "talk-details"}
    =render :partial => "details", locals: {talk: talk}
  %td{"colspan" => 4}
    =render 'comments', :talk => talk
