%tr{:id => "talk_#{talk.id}"}
  %td{"data-sort-value" => talk.title, "data-value" => talk.title}
    =talk.title
  %td
    =talk.user.name
    (#{talk.user.company})
  %td.votes{"data-sort-value" => talk.upvotes.size}
    .input-append
      %input.span2{:type=>"text", :disabled => 'disabled', :value => talk.upvotes.size}
      -if !current_user.voted_as_when_voted_for talk
        =link_to vote_path(talk), {:action => :vote, :method => :post, :class => 'btn btn-success', :remote => true} do
          %i.icon-thumbs-up
      -else 
        =link_to vote_path(talk), {:action => :vote, :method => :post, :class => 'btn btn-danger', :remote => true} do
          %i.icon-thumbs-down
  %td{"data-sort-value" => talk.status, "data-value" => talk.status}
    =talk.status
  %td
    =talk.talk_type.name
  %td
    =talk.created_at.to_formatted_s(:short)
  %td
    %a.btn.btn-success.expand
      %i.icon-plus
%tr.tablesorter-childRow{:id => "talk_#{talk.id}"}
  %td{"colspan" => 4}
    =render :partial => "details", locals: {talk: talk}
    =link_to "Editer", edit_talk_path(talk), :class => 'btn btn-success'
    =link_to "Slett", talk, confirm: 'Are you sure you want to delete this talk?', :method => :delete, :class => 'btn btn-danger'
  %td{"colspan" => 3}
    =render 'comments', :talk => talk
