%a.pull-right{:href => "#{talks_path}.csv"}
  %i.icon-th
  Eksporter som CSV

%header.clearfix
  %h1
    Foredrag
  =link_to 'Create new', new_talk_path, :class => 'btn btn-success'
%article.main  
  %table.table.tablesorter
    %thead
      %tr
        %th
          Tittel
        %th
          Taler (bedrift)
        %th.sorter-sortOnDataAttrib.filter-parsed
          Stemmer
        %th.sorter-sortOnDataAttrib.filter-select{"data-placeholder" => "Alle"}
          Status
        %th.filter-select{"data-placeholder" => "Alle"}
          Foredrags type
        %th.filter-false
          Opprettet
        %th.filter-false.sorter-false
    %tbody
      - for talk in @talks
        = render :partial => "talk", :locals => { :talk => talk }
