%a.pull-right{:href => "#{talks_path}.csv"}
  %i.icon-th
  Eksporter som CSV

%header.clearfix
  %h1
    Foredrag
  =link_to 'Create new', new_talk_path, :class => 'pull-right btn btn-success'
%article.main  
  %table.table.table-striped
    %thead
      %tr
        %th
          Title
        %th
          Speaker
        %th
          Created
        %th
          Votes
        %th
          Status
        %th
          Foredrags type
        %th

    - for talk in @talks
      = render :partial => "talk", :locals => { :talk => talk }