%h1 Godkjente bidrag til Smidig 2016

%p 
  På denne siden kan du se alle godkjente lyntaler, workshops og foredrag 
  som skal danne grunnlaget for innholdet til Smidig 2016. 

- for talk in @talks
  = render 'talk_view', :talk => talk
   
