%h1 Foredragsforslag til Smidig 2013

%p 
  På denne siden kan du se alle foredragsforslag som er sendt inn til Smidig 2013. 
  
  Her kan du se registrerte og godkjente lyntaler og workshops. 
  Vi tar ikke lenger i mot nye foredragsforslag. 

- for talk in @talks
  = render 'talk_view', :talk => talk
   