%h1 Foredragsforslag til Smidig 2013

%p 
  På denne siden kan du se alle foredragsforslag som er sendt inn til Smidig 2013. 
  Dersom du har lyst å sende inn et forslag selv kan du 

  = link_to('foreslå ditt foredrag her.', new_talk_path)

- for talk in @talks
  = render 'talk_view', :talk => talk
   