<table>
  <thead>
    <tr>
      <th>Navn</th>
      <th>Email</th>
      <th>Handling</th>
    </tr>
  </thead>
  <tbody>
    <% for user in @users %>
  	<tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td>
          <%= link_to 'Delete', {:action=>'destroy', :id=>user.id}, :confirm=>"Are you sure", :method=>:delete %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>