%h2 Glemt passord?

%p
  Skriv inn din registrerte epost-adresse så sender vi deg en epost som
  beskriver hvordan du kan lage et nytt passord.

= simple_form_for resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => 'form-inline' } do |f|
  = f.input :email, :autofocus => true, :label => false, :placeholder => "you@mail.com"
  = f.button :submit, :class => 'btn-primary', :value => "Send epost"

=render "devise/shared/links"
