%hr

- btnclass = 'btn-primary'

- if action_name == 'index'
  = link_to "New #{name_for_controller}", url_for(:controller => controller_name, :action => 'new'), :class => "btn #{btnclass}"
  - btnclass = 'btn-default'

- if action_name != 'index'
  - path = local_assigns.has_key?(:backlink) ? backlink : controller_name
  = link_to 'Back', url_for(:controller => path, :action => 'index'), :class => 'btn btn-default'
