= link_to 'Show', url_for(:controller => controller_name, :id => target.id, :action => 'show'), :class => 'btn btn-primary'
= link_to 'Edit', url_for(:controller => controller_name, :id => target.id, :action => 'edit'), :class => 'btn btn-default'
