- if Sponsor.all_cached.size > 0
  .sponsor-wrapper
    .container
      .row-fluid
        .span2.offset1
          %h4
            Våre sponsorer
        .sponsors.span8
          - Sponsor.all_cached.shuffle.each_slice(4) do |sponsor_row|
            .sponsor-row.row-fluid
              - sponsor_row.each do |sponsor|
                .sponsor.span3
                  %a{:href => "#{sponsor.url}", :title => "#{sponsor.name}"}
                    %img{:src => "#{sponsor.imageUrl}"}
