- if Sponsor.all.size > 0
  %h4 Våre sponsorer:
  .row-fluid.sponsors
    - Sponsor.all.shuffle.each do |sponsor|
      .span3.sponsor
        %a{:href => "#{sponsor.url}", :title => "#{sponsor.name}"}
          %img{:src => "#{sponsor.imageUrl}"}