%h2 Takk for din påmelding

%p
  Vi har registrert din henvendelse om å få tilsendt en faktura for din påmelding.
  Vi kommer innen kort tid til å opprette og sende fakturaen i henhold til din
  registrering.

%a(href="/") Gå til forsiden

