%h2 Takk for din påmelding

%p
  Takk for at du fullførte betalingen hos PayPal. Straks vi mottar en bekreftelse
  på betalingen fra PayPal vil vi sende deg en bekreftelse på epost.


%a(href="/") Gå til forsiden