/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  padding-top: 60px;
}

.brand {
  img {
    margin-top: -4px;
  }
}

@media (max-width: 767px) {
  footer {
    margin: 0 -20px;
    padding: 0 20px;
  }
}

.table .text-right   { text-align: right; }
.table .text-left    { text-align: left; }
.table .text-center  { text-align: center; }

.boxed {
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  margin-bottom: 10px;

  .title {
    background: #e7e7e7;
    font-weight: bold;
    border-bottom: 1px solid #e9e9e9;
    padding: 3px;
  }
  .content {
    padding: 5px;
  }
}

#main {
  min-height: 600px;
  background-color: #FFF;
  padding: 10px;
}

#innhold {
  -moz-box-shadow:11px 10px 20px 1px #777777;
  -webkit-box-shadow:11px 10px 20px 1px #777777;
  box-shadow:11px 10px 20px 1px #777777;
  
  margin-bottom: 20px;
}

.navbar .fb-like {
  padding-top: 10px;
}

#footer {
  color: #ddd;
  font-size: 13px;
  background: #54545E;
  padding-right: 10px;
  padding-left: 10px;
  border-top: 3px solid #6600CC;


  a {
    color: #bbb;

    &:visited {
      color: #bbb;
    }

    &:hover {
      color: #888;
      text-decoration: none;
    }
  }

  hr {
    padding: 0;
    border-top: 1px solid #58585E ;
    border-bottom: 1px solid #3B3B42;
    margin: 5px;
  }

  h4 {
    font-size: 15px;
    padding-bottom: 6px;
    border-bottom: 1px solid #3B3B42;
    margin-bottom: 4px;
    color:#ccc;
  }

  .widget {
    margin-bottom:10px;
  }

  aside{
    float: right;
  }

  ul {
    list-style-type: none !important;
    padding: 0;
    margin: 0 0 10px 0;

    li {
      background-image: image-url('list-b.png');
      background-repeat: no-repeat;
      background-position: 2px 7px;
      background-size: 13px 13px;
      padding: 4px 0px;
      padding-left: 21px;
    }
  }
}
