// Place all the styles related to the Program controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timeslot,
.room,
.room-name {
	border: 0px solid #000;
}


.toggle-filter {
	margin-bottom: 10px;
}

.location-explanation {
	color: white;
    background-color: #662d91;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: none;

    @media (max-width: 767px) {
		display: block;
    }

	.location {
		.room-name {
	    	margin-left: 3px;
	    	padding: 3px;
	    	font-size: 10px;

			&:first-child {
				margin-left: 0;
			}
	    }	
	}

    .time {
		margin-top: 5px;
    }
}

.filter {
	display: none;

	.toggle-workshops {
		margin: 10px 0;

		@media (max-width: 767px) {
			margin-bottom: 30px;

			.switch-toggle {
				float: right;
			}
		}
	}
}

.smidig {
	.content-wrapper {
		.timeslot-time {
			.timeslot-start {
				font-size: 14px;
				margin-bottom: 0;
			}
		}

		.day {
			h1 {
				font-size: 16px;
				margin-top: 1em;
			}
		}

		.talk-types {
			dt, dd {
				display: inline-block;
			}

			dd {
				margin-left: 0;
				margin-right: 1em;
			}
		}

		.talk-categories {
			list-style: none;
			margin-left: 0;
			margin-right: 2em;
			float: left;

			@media (max-width: 767px) {
				float: none;
				margin-right: 0;
				margin-bottom: 0;
			}

			.talk-category {
				@media (max-width: 767px) {
					margin-bottom: 1em;
				}

				.label {
					margin-right: 1em;
					min-width: 16px;
				}

				.switch-toggle {
					float: right;
					margin-left: 1em;
				}
			}
		}

		.filtered-out {
			opacity: 0.5;
		}

		.no-talks {
			margin-bottom: 0;
		}

		.timeslot {
			margin-bottom: 1em;

			.room {
				border-left: 5px solid #662d91;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			  	-webkit-box-sizing: border-box;
  				-moz-box-sizing: border-box;
				float: left;
				padding-right: 10px;

				@media (max-width: 767px) {
					width: 100% !important;
				}

				.room-title {
					font-size: 12px;
					margin-bottom: 0;

					.room-name {
						color: white;
						padding: 5px 5px 5px 0px;
						background-color: #662d91;
						display: inline-block;
						white-space: nowrap;
					}
				}

				.talks {
					background-color: white;
					padding: 5px;

					.description {
						h3, p {
							font-size: 14px;
						}

						p {
							margin-bottom: 0;
						}
					}

					.talk {
						border-top: 1px dashed #92278f;
						padding: 5px 0;

						&:first-child {
							padding-top: 0;
							border-top: 0;
						}

						.title {
							font-size: 14px;
							margin-bottom: 0;
							cursor: pointer;

							.meta {
							    min-width: 60px;
							    text-align: right;

								i {
								    margin-right: 5px;
								}
							}
						}

						.author {
							font-size: 12px;
						}

						.duration {
							font-size: 12px;
							font-weight: 300;
							clear: both;
							text-align: right;
						}

						.description {
							display: none;
							margin-top: 5px;
							margin-bottom: 1em;
							font-size: 14px;

              p {
                margin-bottom: 5px;
              }
						}
					}
				}
			}


		}
	}
}

/* Snatched from Bootstrap 3 */
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.label[href]:hover,
.label[href]:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}
.label-default {
  background-color: #999999;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #808080;
}
.label-primary {
  background-color: #428bca;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #3071a9;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}
