.program-admin {
  .talk {
    border-radius: 5px;
    background: #eee;
    margin: 10px 0;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    
    div {
      padding: 10px;    
    }

    em {
      color: #888;
    }

    .author {
      color: black;
    }
  }
}

.workshop-participation {
  margin: 10px 0px;

  form {
    margin: 0;
  }
}
