.timeslot {
  border: 1px solid silver;
  margin: 10px 0;
  padding: 5px;

  .room {
    border: 1px solid silver;
    float:left;
    margin: 3px;
    padding: 2px;
  }
  .clear {
    clear: both;
  }
}