<p>Velkommen <%= @email %>!</p>

<p>Du kan bekrefte din konto ved å trykke på følgende link:</p>

<p><%= link_to 'Bekreft konto', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
