:markdown
  Hei #{@resource.email}!

  Noen (forhåpentligvis deg) har bedt oss om å nullstille passordet ditt.
  Dersom du ikke har sendt denne forespørselen, kan du trygt se bort fra
  denne mailen.

= link_to 'Endre passord', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

:markdown
  Dersom ha problemer med linken, kan du i stedet forsøke å klippe og lime
  den inn i nettleseren din. Dersom det fortsatt ikke fungerer kan du
  kontakte oss ved å svare på denne mailen.


  Med vennlig hilsen

  Smidig 2013