.row-fluid.program-admin
  .span9
    %h1 Tidsslotter:
    - @timeslots.each do |timeslot|
      = render 'timeslot', :timeslot => timeslot

    %p
      = link_to new_timeslot_path, :class => "btn" do
        %i.icon-plus
        Legg til timeslot


  .span3
    .available-talks-container
      %h4 Godkjente talks:
      %ul.available-talks.talks
        - for talk in @available_talks
          = render 'talk', :talk => talk
