.row-fluid
  .span7
    :markdown
      # Smidig 2013

      Årets konferanse er den syvende i rekken og finner sted 5.-6. november på Radisson Blu Plaza Hotel i Oslo. Begge dager åpner klokken 8:00 og programmet starter klokken 9:00. Første dag avsluttes med middag og sosiale aktiviteter.

      [Meld deg på årets konferanse](/users/sign_up)

      ## Om Smidigkonferansen
      
      Vi tror at IT-prosjekter i Norge kan lære mye av prinsippene bak smidig utvikling. Derfor arrangerer vi
      Smidigkonferansen for å dele erfaringer og bidra til å øke kunnskapen om smidige metoder i Oslo og Norge.

      Smidigkonferansen er en årlig konferanse for og av fagmiljøet selv. Her får du høre hvordan andre
      prosjektdeltakere som deg takler hverdagen i sine smidige og kanskje ikke så smidige prosjekter. Her får du
      stiftet nye bekjentskaper som er i samme situasjon som deg selv. Du får forsterket de bekjentskapene du har, og
      lært hvor mye både fagmiljøet og du selv har å by på. I fjor var ca 20% av deltakerne også foredragsholdere, noe
      som skaper en unik atmosfære. Ikke bare får du høre interessante foredrag, men det er lett å snakke med
      foredragsholderne gjennom hele konferansen.

      ## Vårt unike format

      Begge konferansedagene følger samme format: Lyntaler (korte, erfaringsbaserte foredrag) før lunsj og
      diskusjonsgrupper (open space) etter lunsj. Hver lyntale er på ti minutter, så i løpet av formiddagen vil du få
      med deg intill 12 forskjellige lyntaler. I Open Space etter lunsj stemmer deltakerne selv frem hvilke temaer de
      ønsker å fordype seg i, og jobber så med disse problemstillingene i mindre grupper. Enkle regler sikrer
      interaktivitet og faglig utbytte for deltakerne.

      ### Keynote
      Også i år skal vi hente spennende foredragsholdere som inviteres til å holde keynotes på Smidig 2013.

      ### Lyntaler
      Lyntaler (”lightning talks” på engelsk) er tapas i foredragsholdernes verden: man får mange impulser fra mange
      forskjellige folk. På Smidig er tidsbegrensning til lyntaler ti minutter. Dette inspirerer foredragsholderne til å
      destillere budskapet sitt ned til det aller viktigste, og fjerne alle unødvendige deler. Har du noe på hjertet?

      ### Workshops

      Også i år kommer vi til å kjøre flere spennende workshops under konferansen. Dette er en unik mulighet for
      deltakerne til å lære noe noe nytt.

      ### Open space
      I Open space, en type diskusjonsgruppe, dykker man dypere ned i de temaene deltakerne selv synes er mest
      interessante. Legenden sier at ideen til Open Space ble født av observasjonen om at på tradisjonelle konferanser
      er det ofte diskusjonene i kaffepausen som er mest givende. Tanken er å sette rammer som gjenskaper denne
      stemningen hvor man deler erfaringer og lærer av hverandre. Med inspirasjon fra lyntalene, eller med fokus på
      akkurat det problemet du sliter med i din organisasjon, har du en unik mulighet til å diskutere temaet nærmere med
      andre som har tilsvarende interesser og problemstillinger.

  .span5
    .image
      =image_tag (image_path "smidig2012_4.jpg")
      %p.caption
        Keynote fra Smidig 2012 
    .image
      =image_tag (image_path "smidig2012_1.jpg")
      %p.caption
        Open Space tavlen i 2012
    .image
      =image_tag (image_path "smidig2012_5.jpg")
      %p.caption
        Engasjerte deltakere