%h1 Om Smidigkonferansen

.row
  .span4
    %p
      Vi tror at IT-prosjekter i Norge kan lære mye av prinsippene bak smidig
      utvikling. Derfor arrangerer vi Smidigkonferansen for å dele erfaringer og bidra
      til å øke kunnskapen om smidige metoder i Oslo og Norge.
      Smidigkonferansen er en årlig konferanse for og av fagmiljøet selv.
      Her får du høre hvordan andre prosjektdeltakere som deg takler hverdagen
      i sine smidige og kanskje ikke så smidige prosjekter. Her får du stiftet
      nye bekjentskaper som er i samme situasjon som deg selv. Du får forsterket
      de bekjentskapene du har, og lært hvor mye både fagmiljøet og du selv har å
      by på. I fjor var ca 20% av deltakerne også foredragsholdere, noe som
      skaper en unik atmosfære. Ikke bare får du høre interessante foredrag, men
      det er lett å snakke med foredragsholderne gjennom hele konferansen.

    %p
    Årets konferanse er den syvende i rekken og finner sted 5.-6.&nbsp;november
  .span8
    =image_tag("os.jpg")