.row-fluid
  .span12
    :markdown
      # Smidigkonferansens årsmøte 2014

      Som deltaker på Smidig 2012 og/eller Smidig 2013 har vi gleden av å invitere deg til å bli medlem av Smidigkonferansen og delta på årsmøtet 6. februar kl 17:00, Oslo (mer info kommer). Du kan bli medlem selv om du ikke deltar på årsmøtet. 
       
      Det skal velges nye styremedlemmer for årets Smidigkonferanse under årsmøte. Vi oppfordrer deltagere av tidligere konferanser til å melde seg eller foreslå andre ildsjeler som kunne bidra med sitt engasjement. Forslag sendes til valgkomiteen ved Johannes Brodwall <johannes@brodwall.com>
       
      Vi trenger å vite om du kommer, gis oss tilbakemelding her:
      
      [https://docs.google.com/forms/d/1FDTuRohvryfEiGE67-E36wYM3DGzmzRSRhJ_e6mIddA/viewform](https://docs.google.com/forms/d/1FDTuRohvryfEiGE67-E36wYM3DGzmzRSRhJ_e6mIddA/viewform)

      PS: Vennligst benytt den samme epost-adressen som du meldte deg på konferansen med. 

      ### Agenda:
      - Sak 1/2014 - Godkjenning av innkallingen
      - Sak 2/2014 - Godkjenning av medlemmer med stemmerett
      - Sak 3/2014 - Valg av møteleder
      - Sak 4/2014 - Valg av referent
      - Sak 5/2014 - Valg av to medlemmer til å undertegne protokoll
      - Sak 6/2014 - Godkjenning av sakslista
      - Sak 7/2014 -. Godkjenning av årberetning
      - Sak 8/2014 - Godkjenning av regnskap
      - Sak 9/2014 - Budsjett 2014
      - Sak 10/2014 - Valg
      - Sak 11/2014 - Eventuelt

      
      ## Arrangørkonferanse:
      Åpent for alle! Vi holder arrangørkonferanse umiddelbart etter årsmøtet. Som alltid er det frivillige entusiaster som former konferansen og vi ønsker alle velkomne til å bidra. Møt opp og bidra til fornying og forbedring av smidigkonferansen, Smidig 2014 !
       
      Ha en fantastisk dag!
       
      Med vennelig hilsen
      Styret, Smidigkonferansen
