%h1 Keynote
.row-fluid
  .span7
    :markdown

      *Også i år vil vi ha to keynote-holdere på Smidigkonferansen. Begge dagene vil starte med en keynote og vi håper disse vil bidra til å gi folk en inspirerende start på dagen.* 
      ## David Anderson

      David Anderson er et velkjent navn i smidig-verdenen. Han introduserte Kanban for programvareutvikling og har siden da etablert seg som en av de mest toneangivende personene i det han selv kaller «den 2. generasjonen av smidig utvikling». Han er direktør i Lean-Kanban University og forfatter av en rekke essensielle bøker som: *Agile Management for Software Engineering: Applying the Theory of Constraints for Business Results* og *Kanban: Successful Evolutionary Change for Your Technology Business*. Han er en prominent foredragsholder og vi er stolte av å ha fått David til å holde keynote på Smidig 2013. 

      InfoQ skrev tidligere i år følgende om David Anderson: 

    %blockquote
      :markdown
        If they were to carve a new Mt. Rushmore into the mountains surrounding Silicon Valley, then alongside Dijkstra, Kernighan, The Three Amigos and The Gang of Four they would need to make room for David J. Anderson, father of Kanban in the software development industry.

  .span5
    .image
      =image_tag (image_path "david.jpg")
      %p.caption
        David J. Anderson
    .image
      =image_tag (image_path "smidig2012_4.jpg")
      %p.caption
        Keynote fra Smidig 2012 
  