%h2 Topp 10 fra Smidig 2012
%meta{:content => "http://player.vimeo.com/video/53161061", :property => "og:video"}

%p
  På denne siden har vi samlet alle godbitene fra Smidig 2012. Dette er god oppvarming
  og underholdning, mens vi venter på Smidig 2013.
  Du finner alle de andre presentasjonen fra Smidig 2012 (og tidliger år) i
  %a{:href => "http://vimeo.com/smidig"} videoarkivet vårt på Vimeo.

%p
  %a.twitter-share-button{"data-hashtags" => "smidig", "data-url" => "http://2013.smidig.no/info/godbiter", "data-via" => "smidig", :href => "https://twitter.com/share"} Tweet

.videos
  %article
    .content
      %header
        %h3 #1 Store IT-prosjekter bør feile
        %p Av: Henning Spjelkavik
      %p
        Et skråblikk på hvorfor det kanskje er slik at store, kompliserte IT-prosjekter
        egentlig burde feile. Hva driver kompleksiteten? Vi går igjennom 'vitenskapelig
        materiale' de siste femti år som bygger opp under påstanden, og sammenfatter
        dette med de siste tall fra SSB.
    .video
      %iframe.video-container{:allowfullscreen => "", :frameborder => "0", :height => "103", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/53161061?title=0&byline=0&portrait=0&color=6600CC", :webkitallowfullscreen => ""}

  %article
    .content
      %header
        %h3 #2 Smidige utviklere møter firkanta driftere
        %p Av: Kyrre Begnum
      %p
        Smidige utviklingsmetodikker dominerer i dagens utviklingsprosjekter,
        mens driftsapparatene fortsatt holder fast på kompliserte og byråkratiske
        prosesesser. Vi tar en titt bak kulissene til driftsmiljøene for å forstå
        hvorfor det har blitt som det har blitt. Vi ser på noen scenarioer som kan
        inntreffe når aggressive utviklingsmetodikker møter tungrodde driftsmetodikker
        i et prosjekt. Til slutt snakker vi om hvordan vi kan komme ut av dette og
        hva i all verden kokkeyrket har til felles med DevOps.
    .video
      %iframe.video-container{:allowfullscreen => "", :frameborder => "0", :height => "103", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/53160620?title=0&byline=0&portrait=0&color=6600CC", :webkitallowfullscreen => ""}

  %article
    .content
      %header
        %h3 #3 Outsourcing funker ikke
        %p Av: Sergey Dmitriev
      %p
        Jeg jobber med coaching av smidige team og har lyst å dele erfaringer fra
        våre kunder og belyse fallgruver ved outsourcing som mange har tråkket i.
        Det er ikke bare bare å outsource til India...
    .video
      %iframe.video-container{:allowfullscreen => "", :frameborder => "0", :height => "103", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/53161060?title=0&byline=0&portrait=0&color=6600CC", :webkitallowfullscreen => ""}

  %article
    .content
      %header
        %h3 #4 Usability testing must die
        %p Av: Laura Arlov
      %p
        Developers and product owners must own usability in order to fix it. Usability test
        reports produced by specialists fail to generate ownership - or fix usability problems.
        %br
        %br
        Skatteetaten is running usability workshops on Steve Krug's principles: earlier, more
        frequent tests; fewer users; developers and stakeholders as observers. The observers
        themselves identify problems and prioritize which to fix.
        %br
        %br
        Less time testing. No time reporting. Faster decisions. Less arguing. No scolding.
        More interest for and ownership of usability. More good changes.
    .video
      %iframe.video-container{:allowfullscreen => "", :frameborder => "0", :height => "103", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/53188226?title=0&byline=0&portrait=0&color=6600CC", :webkitallowfullscreen => ""}

  %article
    .content
      %header
        %h3 #5 Vi må slutta å sutra - bli sinte - og berre fiksa det!
        %p Av: Kari Røssland
      %p
        Eg har vore på haugevis av retrospektiv og samlingar på puben etter jobb - der vi har enda opp med å sutra og klaga over kor vanskeleg det er å vera smidig-utvikler i ein verden med fastprisprosjekt, for liten tilgong på brukarar eller fagpersonar, null tillit fra kunden og prosjektleiarar som bitcher og maser om timeføring og rapportering. For ikkje å snakka om idiotiske arkitektar som ønsker å løyse alle verdensproblem med kompliserte rammeverk og patterns. Vi har lulla oss inn i uendelege tiradar om alle dei som sit rundt oss i prosjekta som enda ikkje har skjønt kva det vil sei å vera smidige, og som ødelegger for oss smidig-utviklarar. Og stakkars oss, vi prøver å vera så smidige vi berre klarer - med det skrøpelege utgangspunktet vi har fått.
        %br
        %br
        Kjenner du deg igjen? Ja? Men åååh, det er jo så deilig å klaga, og vi trøster og forstår kvarandre. Dessuten så er det jo viktig å få ventilera all frustrasjonen, sånn utanfor prosjektet - slik at dei andre slepper å høyra på. Då unngår vi i alle fall å laga dårleg stemning - for det dårleg stemning, det er kjipt det.
        %br
        %br
        Kva oppnår vi med all denne jamringa? Kanskje vi kjenner oss litt bedre der og då - eller gjer vi eigentleg det? Kva skjer etterpå? - Ingenting!
        %br
        %br
        Gjennom mine 6 år som it-konsulent har eg vore heldig. Eg har møtt ein heil haug med kompetente it-folk. Nokre av disse menneskene har eg blitt ekstra glad i. Dei har det der "lille ekstra", som gjer at eg lar meg rive med av det dei seier og gjer. Dei overraskar meg, og dei inspirerer meg! Du har sikkert møtt nokre sånne du og. Kva er det med disse folka?
        %br
        %br
        Og så gjekk det plutselig opp for meg - eg trur at heile den gjengen der kan bli ordentlig sinte. Dei vert ikkje nødvendigvis sinte fordi dei har problem med å takle temperamentet sitt. Dei vert sinte fordi dei bryr seg.
        %br
        %br
        Så, kva skjer med oss når vi blir sinte for noko som vi bryr oss om, for noko som er viktig for oss? - Jo, vi får energi. Vi får energi til å gjera noko med det som ikkje fungerer. Og når vi gjer noko med det - så skjer det noko, noko endrar seg.
        %br
        %br
        Eg ønsker meg 10 minutter for å fortelja dykk om korleis nokre av våre sinte it-kollegaer har brukt sin energi og sitt engasjement til å ta opp og til å gjera noko med dei problemene vi alle går rundt og klager over. Og eg ønsker å forklare korleis vi andre kan gjera det samme. Fordi eg trur at vi alle må bli litt meir sinte for at vi skal bli i stand til å ta det neste steget mot den smidige drømmeverda.
        %br
        %br
        "Realize that if you have time to whine and complain about something then you have the time to do something about it." (Anthony J. D'Angelo)
    .video
      %iframe.video-container{:allowfullscreen => "", :frameborder => "0", :height => "103", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/53156329?title=0&byline=0&portrait=0&color=6600CC", :webkitallowfullscreen => ""}

  %article
    .content
      %header
        %h3 #6 Motivation the key to Results!!
        %p Av: Martin Cochrane
      %p
        Ever wondered why your team just don't seem to have fun at work, why everyone
        always seems to be late for meetings by at least 1 minute.
        %br
        %br
        Most people believe motivation comes from paying people more money, is this
        the only way?
        I want to tell you about some great ways to get teams out of bad habits like
        being late for meetings or consistently missing deadlines. Within 10 minutes I
        will give you examples of some of the easiest things you can do to get a bit of
        motivation and fun flowing in your team
    .video
      %iframe.video-container{:allowfullscreen => "", :frameborder => "0", :height => "103", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/53187540?title=0&byline=0&portrait=0&color=6600CC", :webkitallowfullscreen => ""}

  %article
    .content
      %header
        %h3 #7 De første delleveransene skal være stygge og uferdige
        %p Av: Christin Gorman
      %p
        Vi vet alle at hyppige leveranser er et viktig element i smidig utvikling. Men hva er det leveransene skal bestå av? "Potentially shippable" - sier mange at våre releaser være. Men hva betyr det i praksis?
        %br
        %br
        Jeg har lyst til å dele litt praktiske erfaringer, og bruke portrett-tegning for å illustrere software-utviklings-prosessen. I kreative prosesser som software-utvikling og portrett-tegning, er det viktig å ikke begynne med detaljene. Første leveranse bør ikke være et ferdig detaljert øye, men heller en skisse av et helt ansikt. Detaljene bør først komme når man ser at helheten stemmer. Ellers bruker man altfor mye krefter på ting man bare må viske ut senere likevel.
    .video
      %iframe.video-container{:allowfullscreen => "", :frameborder => "0", :height => "103", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/53188003?title=0&byline=0&portrait=0&color=6600CC", :webkitallowfullscreen => ""}


  %article
    .content
      %header
        %h3 #8 Bygg din egen lille Heroku!
        %p Av: Ole Christian Rynning
      %p
        Jeg går gjennom Herokus arkitektur fra tusen fot, og gir konkrete eksempler på hvordan du kan bygge en utrullingsplattform (mini-heroku) som teammedlemmene dine vil legge sin elsk på. Teknologisk sett er dette automatisering med git og salt.
    .video
      %iframe.video-container{:allowfullscreen => "", :frameborder => "0", :height => "103", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/53188477?title=0&byline=0&portrait=0&color=6600CC", :webkitallowfullscreen => ""}

  %article
    .content
      %header
        %h3 #9 Validating a Lean Startup through Innovation Accounting (keynote)
        %p Av: Lukas Fittl
      %p
        J"Running Lean" is a rigorous approach for quickly testing new product ideas and raising the odds of success. The framework is based on The Lean Startup and our own experiences as entrepreneurs, covering the complete lifecycle from understanding a customer's problem to identifying and optimizing your engine of growth.
        %br
        %br
        This talk details our most recent work on Innovation Accounting: How we can measure progress in form of validated learning from customers.
        %br
        %br
        In order to not run over budget or out of resources, we need to keep a laser-sharp customer and revenue focus throughout the early stages of a company. Instead of separating work into silos, we use a company-wide "Validated Learning Board" that helps everyone understand, communicate and measure progress.
        %br
        %br
        The board allows us to run experiments together as a team of engineers, designers, marketers and product managers, validate the outcome, and quickly identify the path to customers and revenue.
    .video
      %iframe.video-container{:allowfullscreen => "", :frameborder => "0", :height => "103", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/53186912?title=0&byline=0&portrait=0&color=6600CC", :webkitallowfullscreen => ""}

  %article
    .content
      %header
        %h3 #10 Det holder ikke å nynne melodien, du må kunne teksten!
        %p Av: Andreas Heim
      %p
        Halvhjertet innsats er verre enn ingen innsats. For å lykkes som et team må alle kunne melodien, alle må kunne teksten og viktigst: man må skjønne hva som blir sunget!
        %br
        %br
        Dette er selvfølgelig ikke en lyntale om musikk, men her tenker jeg på melodien som et språk og teksten som rammeverket. Da gir det seg selv at man må skjønne hvorfor man programmerer som man gjør, hvis ikke forsvinner meningen og resultatet blir dårlig.
        %br
        %br
        "Scuse me while I kiss this guy."
    .video
      %iframe.video-container{:allowfullscreen => "", :frameborder => "0", :height => "103", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/53188474?title=0&byline=0&portrait=0&color=6600CC", :webkitallowfullscreen => ""}
