.row-fluid
  .span6
    %h2 Gruppepåmelding

    %p 
      Gruppepåmelding gjør at du kan melde på hele avdelingen og be om å få tilsendt 
      en faktura. 

    %h3 Hvordan virker det?
    :markdown
      1. Meld deg på som deltaker til smidig 2016.
      2. Velg «Legg til deltaker». (bilde 1)
      3. Fyll ut kollegas navn, epost og tlf. (bilde 2)
      3. Velg «Be om faktura»  (bilde 3)
      4. Fyll ut faktura-detaljer.
      5. Vi sender en faktura direkte til ditt firma.

      [Meld deg på Smidig nå!](#{new_user_registration_path})

  .span6
    %p 
      =image_tag (image_path "gruppepamelding_steg1.png")
      %h6 Bilde 1

      =image_tag (image_path "gruppepamelding_steg2.png")
      %h6 Bilde 2   

      =image_tag (image_path "gruppepamelding_steg3.png")
      %h6 Bilde 3
