.carousel.slide
  .carousel-inner
    .active.item
      %img(src="http://kvener.no/wp-content/blogs.dir/1/files/2011/05/samarbeid.jpg")
      .overlay
        .text
          :markdown
            # Hva vill du ha...

            Smidig 2013 vil inspirere og presentere nye trender i en sosial atmosfære. Konferansen arrangeres i Oslo, 5. -6. november 2013. Påmelding starter snart.
    .item
      %img(src="http://www.rana.kommune.no/GetFile.aspx/images/EPII_ID/2628/EPIT_ID/5")
      .overlay
        .text
          :markdown
            # Smidig 2013

            Smidig 2013 vil inspirere og presentere nye trender i en sosial atmosfære. Konferansen arrangeres i Oslo, 5. -6. november 2013. Påmelding starter snart.
  %a.carousel-control.left
    <
  %a.carousel-control.right
    >

//.hero-unit
//  :markdown
//    # Smidig 2013

//    *Arrangeres i Oslo, November 2013.* Mer info kommer.

.row-fluid
  .span4
    :markdown
      ## Om konferansen

      Smidigkonferansen er en årlig konferanse for og av fagmiljøet selv. Her får du høre hvordan andre
      prosjektdeltakere som deg takler hverdagen i sine smidige og kanskje ikke så smidige prosjekter.

      [Les mer om smidig](#{info_about_path})
  .span4
    :markdown
      ## Sponse smidig?

      Konferansen finansieres av deltakeravgift og sponsormidler.
      Å være sponsor for Smidig 2013 er et sterkt signal om at dere stiller seg
      bak bevegelsen for smidige metoder og støtter opp under det frivillige initiativet som er
      drivkraften bak arrangement.

      [Les mer om å sponse Smidig 2013](#{info_sponsor_path})
  .span4
    %h2 Følg med
    .fb-like{:data => { |
          :href=>"http://facebook.com/smidig", |
          :send=>"false", |
          :width=>"350", |
          :show_faces=>"true", |
          :font=>"verdana"}}

.row-fluid
  .span12
    %hr
    =render :partial => '/sponsors/list'
