.row-fluid.news
  .span6
    %article
      :markdown
        ## Inviterte foredragsholdere på Smidig 2015
        Vi er stolte av å kunne annonsere følgende inviterte foredragsholdere: Frode Ødegård (Post-Lean and Higher-Order Organizations: Building the Future), Gitte Klitgaard (Do you have the courage to be agile?), Torgeir Dingsøyr & Nils Brede Moe (Studier av store, distribuerte og smidige prosjekter), Johannes Brodwall (Ikke tjuvstart uten oss utviklere), Christin Gorman ("Bruk og kast" utvikling gir bedre programmer), Sven Schnee (#NoEstimates, the art of getting your product development back on track) og Jon Kåre Stene (David og Goliat - organisasjonsformer i fremtiden)

      %a(href="#{info_keynote_path}")
        Les mer om foredragsholderene

  .span6
    %article 
      :markdown
        ## Gruppepåmelding

        Også i år tilbyr Smidigkonferansen gruppepåmelding. Dette forenkler påmelding og betaling for
        bedrifter som ønsker å sende flere deltakere

      %a.pull-right(href="#{info_gruppepaamelding_path}")
        Les mer om gruppepåmelding

.row-fluid.news
  .span6
    %article

      :markdown
        ## Sponse Smidig 2015?

        Konferansen finansieres av deltakeravgift og sponsormidler.
        Å være sponsor for Smidig 2015 er et sterkt signal om at selskapet stiller seg
        bak bevegelsen for smidige metoder og støtter opp under det frivillige initiativet som er
        drivkraften bak arrangement.

      %a(href="#{info_sponsor_path}")
        Les mer om å sponse årets Smidigkonferanse

  .span6
    %article
      :markdown
        ## Det beste fra Smidigkonferansen

        Trenger du inspirasjon? Alle foredragene fra tidligere konferanser finner du på Vimeo

      %a.pull-right(href="https://vimeo.com/album/3107510")
        Se fjorårets foredrag

.row-fluid.news
  .span6
    %article
      :markdown
        ## Om konferansen

        Smidigkonferansen er en årlig konferanse for og av fagmiljøet selv. Her får du høre hvordan andre
        prosjektdeltakere som deg takler hverdagen i sine smidige og kanskje ikke så smidige prosjekter.

      %a(href="#{info_about_path}")
        Les mer om Smidigkonferansen
