.hero-unit
  %h1 Smidig 2013
  %p.main-meta
    %em Arrangeres i Oslo, November 2013.
    Mer info kommer.

.row-fluid
  .span4
    %h2 Om konferansen
    %p
      Konferansen startet som...
    %p
      =link_to "Les mer om smidig", info_about_path
  .span4
    %h2 Sponse smidig?
    %p
      Vi trenger din hjelp!
    %p
      =link_to "read more", info_sponsor_path
  .span4
    %h2 Følg med
    %p
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    %p
      =link_to "read more", info_about_path