.hero-unit
  :markdown
    # Smidig 2013

    *Arrangeres i Oslo, November 2013.* Mer info kommer.

.row-fluid
  .span4
    :markdown
      ## Om konferansen

      Konferansen startet som...

      [Les mer om smidig](#{info_about_path})
  .span4
    :markdown
      ## Sponse smidig?

      Vi trenger din hjelp!

      [read more](#{info_sponsor_path})
  .span4
    :markdown
      ## Følg med

      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
      condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
      Donec sed odio dui.

      [read more](#{info_about_path})
.row-fluid
  .span12
    %hr
    =render :partial => '/sponsors/list'
