.row-fluid.news
  .span6
    :markdown
      ## Sponse smidig?

      Konferansen finansieres av deltakeravgift og sponsormidler.
      Å være sponsor for Smidig 2013 er et sterkt signal om at selskapet stiller seg
      bak bevegelsen for smidige metoder og støtter opp under det frivillige initiativet som er
      drivkraften bak arrangement.

      [Les mer om å sponse Smidig 2013](#{info_sponsor_path})
  .span6
    :markdown
      ## Vil du snakke på Smidig?

      Å snakke på Smidig er en fin mulighet til å spre kunnskap og siste erfaringer innen smidig utvikling.
      Kanskje klarer du å inspirere eller provosere frem en god open space som arrangeres senere på dagen?
      I fjor hadde vi 64 lyntaler og 8 workshopper. For å få til dette trenger vi gode foredragsholdere!

    %a.btn.pull-right(href="#{new_talk_path}")
      Send inn din lyntale eller workshop

    -#
      .span6
      :markdown
        ## Om konferansen

        Smidigkonferansen er en årlig konferanse for og av fagmiljøet selv. Her får du høre hvordan andre
        prosjektdeltakere som deg takler hverdagen i sine smidige og kanskje ikke så smidige prosjekter.

        [Les mer om smidig](#{info_about_path})