= render "menu"
-#
  %h1 TBA


%h1 Keynote på Smidig 2015
.row-fluid
  .span7
    :markdown

      ## Frode Ødegaard
      Tittel: “Post Lean and Higher Order Organizations: Building the Future”

      Grunnlegger av Lean Systems Institute http://www.leansystemsinstitute.com/company/leadership/

      ## Gitte Klitgaard
      Tema: Do you have the courage to be agile?

      Gitte Klitgaard from Native Wired has worked within software development for more than ten years. Since 2010 she worked as an agile coach with rollout of agile in large organizations, and coaching, trainings, workshops, process development and much more.
      She is also known as a pirate and dragon lady and fights to make the world a better place with tolerance and respect for each other.
      Latest interest is courage and vulnerability at work, which she also talks about at conferences.

      ## Torgeir Dingsøyr og Nils Brede Moe
      Tema: “Studier av store, distribuerte og smidige prosjekter”
      Forskere fra Sintef

      ## Johannes Brodwall
      Tema: Ikke tjuvstart uten oss utviklere


      ## Christin Gorman
      Tema: "Bruk og kast" utvikling gir bedre programmer


  .span5
    .image
      =image_tag (image_path "frode_odegaard.jpg")
      %p.caption
        Frode ødegaard
    .image
      =image_tag (image_path "gitte_klitgaard.jpg")
      %p.caption
        Gitte Klitgaard
    .image
      =image_tag (image_path "torgeir_nils.jpg")
      %p.caption
        Torgeir Dingsøyr og Nils Brede Moe
    .image
      =image_tag (image_path "johannes_brodwall.jpg")
      %p.caption
        Johannes Brodwall
    .image
      =image_tag (image_path "christin_gorman.jpg")
      %p.caption
        Christin Gorman