= render "menu"
-#
  %h1 TBA


%h1 Keynote på Smidig 2015
.row-fluid
  .span7
    :markdown


      ## Frode Ødegård
      Grunnlegger av Lean Systems Institute (LSI). Frode immigrated to Silicon Valley from Norway 25 years ago, has started several companies and for the last 10+ years has run the Lean Systems Institute (LSI). From 2004-2014 LSI worked to reinvent Lean for knowledge work, working with senior leaders in client firms here (from small companies up to Lockheed and Honeywell) as well as in Scandinavia


      **Tema: “Post Lean and Higher Order Organizations: Building the Future”

      >In the last year, LSI’s focus has been on how mature companies must innovate at the speed of startups – or even faster. They call this Post-Lean, because a lot of basic assumptions behind Lean are being invalidated. Post-Lean is about what happens to innovation and organizational design when technologies are developing exponentially.




      ## Johannes Brodwall
      En svært tverrfaglig utvikler, arkitekt, konsulent, ledertype og ikke minst smidigpådriver.
      Johannes er velkjent for de fleste i norsk utvikler-miljø. Han har i en årrekke vært pådriver og arrangør for en mengde smidig-initiativ som blant annet Smidigkonferansen og Oslo XP-meetup. Johannes tilhører de få som har tung og bred teknisk kompetanse, samtidig som han forstår seg på tilgrensende fagfelt som ledelse, drift og metodikk. 

      **Tema: "Ikke tjuvstart uten oss utviklere"

      >Hva er egentlig riktig mengde forarbeid før utviklere skal sette i gang med et prosjekt? I de fleste prosjekter opplever man som utvikler at det er gjort mange antagelser og forutsetninger om spørsmål som egentlig ikke var viktige, men som har blitt det. Samtidig er de spørsmålene som vil være avgjørende for å kunne gi en god teknisk løsning har blitt oversett eller besvart på sviktende grunnlag.

      >Johannes argumenterer for at  det er mange aktiviteter man ikke bør starte med før man har sjansen til å sette tennene i den tekniske delen av et prosjekt. Hvilke spørsmål må besvares før man starter og i hvilke spørsmål må man ikke tjuvstarte uten utviklere?



      ## Christin Gorman
      Christin er utvikler og ettertraktet foredragsholder med helikoptersyn, sterke meninger og stort engasjement. Hun har for tiden eget firma, Not a Number, men har deltatt på en rekke utviklingsprosjekter i både offentlig og privat sektor.

      **Tema: "'Bruk og kast' utvikling gir bedre produkter"

      >Scrum har fått oss alle til å jobbe i inkrementer.  Hver 3. uke eller deromkring lager vi en “release” som er “potentially shippable”. Med vekt på “potentially”. For vi gidder ikke faktisk levere den til noen.  Det hadde jo blitt så mye jobb.  Så har vi en retrospektiv der vi internt i teamet snakker om prosessen vår og hvordan den kan forbedres.  Så kaller vi oss smidige. Vår interne prosess blir kontinuerlig endret og forbedret, men hva med produktet? Blir det endret og forbedret underveis?




      ## Sven Schnee
      Scrum Master and Agile Coach with developer background working with Continuous Improvement at Holidaycheck. Sven i dedicated to agile and Lean because he has experienced how these approaches are so much better at helping companies to deliver products that matter, and make their customers happier.

      **Tema: "#NoEstimates, the art of getting your product development back on track"

      >First: why we are doing estimates, what questions we try to answer with it and the reasoning behind.
      >Then, how can you use #NoEstimates theoretically for your Product Development. And by that get the answers that you are seeking without the added effort that estimates bring.
      >Since theories are boring but practical examples are much more compelling the session will end by practical examples and different tools and methods that you can use to master #NoEstimates.


      ## Gitte Klitgaard
      Experienced agile coach, pirate and dragon lady. Gitte has worked within software development for more than ten years. Since 2010 she worked as an agile coach with rollout of agile in large organizations, and coaching, trainings, workshops, process development and much more.
      Latest interest is courage and vulnerability at work, which she also talks about at conferences.

      **Tema: "Do you have the courage to be agile?"

      >Agile is actually really simple and yet it can be hard to do. Not only the processes, the mindset is even harder.
      I believe that one of the core elements of being agile is having courage. Without courage you do not really get anywhere. But what is courage? And do you have the courage to go all in?


      ## Torgeir Dingsøyr og Nils Brede Moe
      Forskere fra Sintef med lang erfaring fra studier av programvareorganisasjoner.
      Nils Brede Moe forsker på hvordan smidige metoder benyttes i små og store prosjekter, hvordan distribuerte team bruker smidige metoder både innenfor land og mellom land, og hvordan Lean Startup kan kombineres med smidig.

      Torgeir Dingsøyr forsker på prosessforbedring og kunnskapsforvaltning i programvarebedrifter som sjefsforsker i SINTEF. Spesielt har han fokusert på smidige utviklingsmetoder, teamarbeid i systemutvikling og bruk av intranettverktøy for læring mellom prosjekter. Han leder forskningsprosjektet Agile 2.0 hvor Kantega, Kongsberg Gruppen, Sopra Steria, Sticos og NTNU er partnere.

      **Tema: "Smidig utenfor komfortsonen: I store og i distribuerte prosjekter"

      >Smidige metoder var beregnet på små, samlokaliserte team som skulle lage programvare som ikke er sikkerhetskritisk. Suksessen med metodene for små team har ført til at mange har brukt metodene også utenfor komfortsonen: I store prosjekter og i distribuerte team. Vi ser på hva som er utfordringer med smidige metoder i disse feltene, oppsummerer hva vi kan lære av studier, og spekulerer i hva vi tror vil kreves i smidige metoder fremover.

      ## Jon Kåre Stene
      Jon Kåre Stene har i mange år jobbet med LEAN i alle slags miljøer og de siste årene spesielt innen innovasjon. Med bakrgrunn fra Schibsted, consulting og gründervirksomhet har nysjerrigheten  rundt hva som skaper grobunn for utvikling og forbedring alltid vært stor.

      **Tema: "David og Goliat - hvilke organisasjonsformer som kommer til å vinne i fremtiden"

      >Foredraget setter fokus på noen egenskaper dagens og fremtidens skusesselskaper innehar og som gamle, etablerte «Goliather» sliter med å adoptere. Hva skal til for å skape den nødvendige farten i en verden i stadig raskere utvikling? For mange vil dette være snakk om være eller ikke være!

  .span5
    .image
      =image_tag (image_path "persons/frode_odegaard.png")
      %p.caption
        Frode ødegård
    .image
      =image_tag (image_path "persons/johannes_brodwall.png")
      %p.caption
        Johannes Brodwall
    .image
      =image_tag (image_path "persons/christin_gorman.png")
      %p.caption
        Christin Gorman
    .image
      =image_tag (image_path "persons/sven_schnee.jpg")
      %p.caption
        Sven Schnee
    .image
      =image_tag (image_path "persons/gitte_klitgaard.png")
      %p.caption
        Gitte Klitgaard
    .image
      =image_tag (image_path "persons/torgeir_nils.png")
      %p.caption
        Torgeir Dingsøyr og Nils Brede Moe
    .image
      =image_tag (image_path "persons/jon_kaare_stene.jpg")
      %p.caption
        Jon Kåre Stene