= render "menu"
-#
  %h1 TBA


%h1 Keynote på Smidig 2015
.row-fluid
  .span7
    :markdown


      ## Frode Ødegård
      Tittel: “Post Lean and Higher Order Organizations: Building the Future”
      
      Grunnlegger av Lean Systems Institute



      ## Johannes Brodwall
      Tema: "Ikke tjuvstart uten oss utviklere"
      
      Johannes Bordwall, tverrfaglig utvikler, arkitekt, konsulent, ledertype og smidigpådriver.



      ## Christin Gorman
      Tema: "'Bruk og kast' utvikling gir bedre programmer"

      Christin Gorman, utvikler og ettertraktet foredragsholder med helikoptersyn og stort engasjement.



      ## Sven Schnee
      Tema: "#NoEstimates, the art of getting your product development back on track"

      Scrum Master and Agile Coach working with Continuous Improvement at Holidaycheck.



      ## Gitte Klitgaard
      Tema: "Do you have the courage to be agile?""

      Gitte Klitgaard, experienced agile coach, pirate and dragon lady.



      ## Torgeir Dingsøyr og Nils Brede Moe
      Tema: "Store, distribuerte og smidige prosjekter - utfordringer og løsninger"
      
      Torgeir Dingsøyr og Nils Brede Moe, forskere fra Sintef med lang erfaring fra studier av programvare-organisasjoner.

  .span5
    .image
      =image_tag (image_path "persons/frode_odegaard.png")
      %p.caption
        Frode ødegård
    .image
      =image_tag (image_path "persons/johannes_brodwall.png")
      %p.caption
        Johannes Brodwall
    .image
      =image_tag (image_path "persons/christin_gorman.png")
      %p.caption
        Christin Gorman
    .image
      =image_tag (image_path "persons/sven_schnee.jpg")
      %p.caption
        Sven Schnee
    .image
      =image_tag (image_path "persons/gitte_klitgaard.png")
      %p.caption
        Gitte Klitgaard
    .image
      =image_tag (image_path "persons/torgeir_nils.png")
      %p.caption
        Torgeir Dingsøyr og Nils Brede Moe