= render "menu"

%h1 Keynote på Smidig 2014
.row-fluid
  .span7
    :markdown

      *Også i år vil vi ha to keynote-holdere på Smidigkonferansen. Begge dagene vil starte med en keynote og vi håper disse vil bidra til å gi folk en inspirerende start på dagen.* 

      ## Dag 1: Jim Benson
      Jim is the creator of Personal Kanban, a pioneer in the field of Lean Management,
      and a recognized international keynote speaker. He is the CEO of Modus Cooperandi, 
      which is the first company formed to train people in Lean for Knowledge Work and 
      the use of kanban. His book Personal Kanban: Mapping Work | Navigating Life is a 
      global bestseller and winner of the 2013 Shingo Research and Publication Award. He 
      is a fellow in the Lean Systems Society and a 2012 winner of the Brickell Key Award f
      or Excellence in Lean Thinking. His other books include Why Plans Fail, Why Limit WIP, 
      and Beyond Agile.

      ## Dag 2: Henrik Kniberg
      Henrik Kniberg is an Agile/Lean coach at Crisp in Stockholm, working primarily with Spotify. He enjoys helping 
      companies succeed with both the technical and human sides of software development. During the past 15 years he 
      has been CTO of 3 Swedish IT companies and helped many more to get started with Agile and Lean software 
      development.

      Henrik is former board member of the Agile Alliance. He is the author of “Scrum and XP from the Trenches”, 
      “Kanban and Scrum, making the most of both” and “Lean from the Trenches“. His books are available in over 12 
      languages, have over 500,000 readers, and are used as primary guide to Agile and Lean software development by 
      hundreds of companies worldwide.


  .span5
    .image
      =image_tag (image_path "jim_Benson.jpg")
      %p.caption
        Jim Benson
    .image
      =image_tag (image_path "kniberg.jpg")
      %p.caption
        Henrik Kniberg
    .image
      =image_tag (image_path "smidig2012_4.jpg")
      %p.caption
        Keynote fra Smidig 2012 
  

