.row-fluid
  .span12
    :markdown
      # Sikkerhet og personvern

      Smidigkonferansen kommer aldri til å selge videre dine personopplysninger til en tredjepart eller levere ut opplysninger til utenforstående. Vi benytter dem kun for å håndtere din påmelding til konferansen og sende deg mail i henhold til valgene du gjør ved registrering. Ved registrering samtykker du i at de oppgitte opplysninger lagres.

      Dersom du godtar å motta e-post fra konferansen vil kunne melde deg av listen med en link i mailen.

      Du må være over 18 år for å melde deg på Smidigkonferansen.

      For øvrig vises til gjeldende norske lover og regler.

      # [Meld deg på konferansen!](new_user_registration_path)