= render "menu"

%h1 Fokus på Smidig i offentlig sektor
.row-fluid
  .span10
    :markdown

      Smidigkonferansen jobber for å øke kunnskapen om smidige metoder i Norge. Smidigkonferansen arrangerer Smidig, en årlig konferanse for og av fagmiljøet selv, som i år avholdes 27. og 28. oktober. I tillegg til den årlige konferansen støtter Smidigkonferansen også andre initiativ som bidrar til å øke kunnskapen om smidige metoder. 

      
      Fordelene med smidig er mange og potensialet for forbedring er stort, også i offentlig sekto.

      
      [Regjeringen satser tungt på digitalisering av offentlig forvaltning](http://www.regjeringen.no/nb/dep/kmd/aktuelt/taler_artikler/politisk_ledelse/taler-og-artikler-av-statssekretar-paul-/2013/digitalisering-i-offentlig-sektor.html?id=744782). og har store ambisjoner for IKT-området. Vi står altså overfor mange krevende satsninger i nær framtid, som vil kunne profitere stort på en smidig gjennomføring. 


      Smidigkonferansen ønsker å bidra til at smidig blir tatt i bruk i større grad gjennom å støtte [seminaret Smidig digitalisering av offentlig sektor den 3. juni](https://www.deltager.no/participant/arrangement.aspx?id=94638) på Holbergs Terrasse i Oslo. Programmet er fantastisk spennende!

      
      Bjarte Bogsnes, direktør i Statoil og kjent Key-note speaker skal snakke om Smidig virksomhetsstyring. Sigrun Tallungs, kjent fra det Svenske Pust-prosjektet skal trekke ut lærdom av dette. Geir Amsjø, kjent smidigentusiast og Scrum Trainer skal snakke om alle fordelene man potensielt kan dra ut av smidig. Det blir rapporter fra ulike erfaringer med smidig i norsk offentlig sektor. Vi belyser problemet både sett fra juristenes, prosjektledernes og utviklernes side.


      Vi oppfordrer alle smidigentusiaster berørt av offentlige satsninger til å [lese mer og melde seg på](https://www.deltager.no/participant/arrangement.aspx?id=94638)!

%h2 Bidragsytere
.row-fluid
  .span8
    :markdown
      **Christina Kjær Seime** er styreleder i Smidigkonferansen. Hun har 10 års erfaring fra IT-bransjen og har jobbet som utvikler, teamleder og Scrum Master. Hun fikk øynene opp for smidig utvikling i 2006 og har siden brent for det smidige tankesettet.  Hun jobber til daglig som seniorkonsulent i Miles AS.
  .span2
    .image
      =image_tag (image_path "persons/image01.jpg")

.row-fluid
  .span8
    :markdown
      **Geir Amsjø** har 25 års erfaring fra IT-bransjen i mange ulike roller: Systemutvikling, prosjektledelse, test, kvalitetssikring, linjeledelse og ikke minst prosessforbedring. Siden 2003 har fokus utelukkende vært på smidig systemutvikling og Lean. Geir er en svært erfaren kursholder og foredragsholder og han har veiledet/coachet en rekke norske selskaper innen smidig. Geir er Certified Scrum Trainer. 
  .span2
    .image
      =image_tag (image_path "persons/image07.png")

.row-fluid
  .span8
    :markdown
      **Bjarte Bogsnes** er direktør i Statoil og arbeider med virksomhetsstyring. Han er formann i Beyond Budgeting Roundtable Europe, og har skrevet boken «Implementing Beyond Budgeting», Bogsnes er en internasjonalt etterspurt foredragsholder, og vant nylig en Harvard Business Review/McKinsey pris for Management Innovation.
  .span2
    .image
      =image_tag (image_path "persons/image09.png")

.row-fluid
  .span8
    :markdown
      **Mons-Ivar Mjelde** er prosjektleder i Jernbaneverket og arbeider som produkteier for et system med navn FIDO
       som ivaretar Operativ Trafikkinformasjon for jernbanetrafikken i Norge. Systemet kommuniserer og distribuerer 
       alle endringer i tog-ruter og jegnbaneinfrastrukturen til de som kjører tog og utfører arbeid på jernbanen. I 
       utviklingsprosjektet ble Scrum benyttet. Nå når systemet er i drift benyttes LEAN Kanban i forvaltning og 
       viderutvikling av systemet. Mons-Ivar Mjelde har lang erfaring som togleder i Jernbaneverket og kan mye om 
       fagsystemer og prosesser vedrørende togfremføring.
  .span2
    .image
      =image_tag (image_path "persons/image06.png")

.row-fluid
  .span8
    :markdown
      **Svein Hauge** har 25 års erfaring fra IT-bransjen. Han har utført prosjekt og linjeledelse som ansatt i privat og offentlig sektor, og som konsulent i konsulentselskaper. Han sitter i styret for faggruppene IKT-kontrakter og effektiv programvareutvikling i DND. Han arbeider i dag som leder for prosjekt og kvalitet ved IKT-avdelingen i Statens vegvesen.
  .span2
    .image
      =image_tag (image_path "persons/image05.png")

.row-fluid
  .span8
    :markdown
      **Mette Gjertsen** har jobbet i Statens Pensjonskasse (SPK) i 20 år, de siste 15 årene med prosjektledelse og teamledelse. I 2008 ble Mette prosjektleder for utvikling i SPKs prosjekt for tilpassing til pensjonsreformen. Etter prosjektet har Mette fortsatt sitt arbeid for best mulig samhandling mellom forretning og IT slik at forretningsverdi fortsatt er i fokus. SPK utvikler ihht. Smidig utviklingsmetodikk
  .span2
    .image
      =image_tag (image_path "persons/image00.png")

.row-fluid
  .span8
    :markdown
      **Sigrun Tallungs** jobbar med UX, User Experience, som konsult, oftast  i agila team. Agilt och UX hör tätt ihop, eftersom agila arbetssätt gör att användarupplevelsen hamnar i fokus. Sigrun brukar se som sin uppgift att bygga upp bra samarbete mellan användare och team. 
  .span2
    .image
      =image_tag (image_path "persons/image02.jpg")

.row-fluid
  .span8
    :markdown
      **Ståle L Hagen** er advokat og partner i Advokatfirmaet Selmers avdeling for TMT/IP. Han har omfattende erfaring med utarbeiding og forhandling av kontrakter, med spesialisering innenfor teknologi. Ståle er en av forfatterne av PS2000 kontrakten, i tillegg til at han har arbeidet med Difi i ulike sammenhenger relatert til deres standardavtaler (SSA). De senere årene har Ståle arbeidet mye med kontraktregulering av smidige prosjekter, og han holder også faste gjesteforelesninger om dette temaet på informatikkstudiene ved UiO og HiOA.
  .span2
    .image
      =image_tag (image_path "persons/image08.png")

.row-fluid
  .span8
    :markdown
      **Sergey Dmitriev** er Business Agility Coach og instruktør, har jobbet med smidig siden 2005. Kommer fra Russland og har bodd i Norge i 17 år. Har vært coach for team som anvender Scrum, Kanban og Lean. Har vært utvikler, team lead, prosjektleder, systemansvarlig (kvasir.no), CTO (zett.no), og jobbet med coaching av flere titalls team fra mange ulike land. Er en av Norges to sertifiserte scrum trenere og den første og foreløpig eneste i Russland.
  .span2
    .image
      =image_tag (image_path "persons/image03.png")

.row-fluid
  .span8
    :markdown
      **Christin Gorman** er systemutvikler i Husbanken. Hun er en meget avholdt foredragsholder - blant annet på smidigkonferansen - kjent for reflekterte og meget engasjerte foredrag.
  .span2
    .image
      =image_tag (image_path "persons/image04.png")

