%h2 Sosialt på Smidig 2013

%p 
  I år er det duket for etterfest på Dattera til Hagen fra klokken 19:00 
  av konferansens første dag. Etter open space og tapas vandrer vi sammen 
  til Dattera hvor det venter DJ i bakgården og bonger!  

%p
  %strong DJ Håkon Onsager (hcon) 
  har snurret plater i hovedstaden (Barbeint, Nobilis, Stratos++)  
  i flere år. Han vil sørge for soulfull lounge-stemning. 

%p
  Vi håper du har lyst til å bli 
  med oss videre utover kvelden! -Og ingen fare, vi har varmelamper og tepper - så her 
  skal ingen fryse! 

%p
  %em Blir det storm flytter vi festen innendørs…


=image_tag (image_path "slide_dattera.jpg")

%a(href="http://dattera.no")
  dattera.no