%h2 Vil din bedrift sponse smidig 2013?

%p
  Ta kontakt med <a href="mailto:kontakt@smidig.no">kontakt@smidig.no</a> dersom din bedrift er interessert i få vite mer om å sponse Smidig 2013.
  %br
  %br
  Konferansen arrangeres av frivillige entusiaster og finansieres ved hjelp av deltakeravgift og sponsormidler. I dag er fokus på smidig prosjektgjennomføring enda viktigere enn tidligere, og stadig nye bedrifter og organisasjoner tar i bruk metodene og teknikkene. Som sponsor for Smidig 2013, viser dere at dere satser på metoder som gir kostnadseffektivitet og god kvalitet. Tidligere konferanser har hatt mange deltakere fra viktige IT-miljøer som f.eks. If, NRK, Statens Pensjonskasse, Skandiabanken, Finn.no, Skatteetaten og KLP.
  %br
  %br
  Tidligere har vi sagt at det er viktig å understreke at smidige metoder ikke er én enkelt bedrifts kommersialiserte tanker og ideer, men derimot tankegodset til en hel bevegelse innenfor IT. Dette er også utgangspunktet for Smidig 2013. Vi ønsker at konferansen skal forbli et spleiselag, hvor alle sponsorer blir tilegnet like mye plass og oppmerksomhet. Å være sponsor for Smidig 2013 er et sterkt signal om at dere stiller seg bak bevegelsen for smidige metoder og støtter opp under det frivillige initiativet som er drivkraften bak arrangement. Alle sponsormidlene går direkte inn i konferansens drift.
  %br
  %br
  Sponsorene går inn med kroner <strong>25 000,-</strong> hver og får for dette følgende:
  %ul.sponsor-benefits
    %li Bedriftens logo på konferansens hjemmeside
    %li Bedriftens logo på alle trykksaker til konferansen (plakater, flyveblader, program)
    %li Bedriftens logo på eventuell annonsering, for eksempel i Computerworld
    %li Hederlig omtale i konferansens åpningstale
    %li Rett til å benytte Smidig 2013 i bedriftens markedsføring
    %li To deltakerbilletter til konferansen
    %li Mulighet til å ha en pullup i fellesrom under konferanse
    %li Mulighet til å gjøre ett A4-ark med informasjon om bedriften tilgjengelig for alle deltakerne under konferansen

  %br
  %strong
    Ta kontakt med <a href="mailto:kontakt@smidig.no">kontakt@smidig.no</a> dersom din bedrift er interessert i få vite mer om å sponse Smidig 2013.