%h2 Vil din bedrift sponse Smidigkonferansen?
.row-fluid
  .span8
    :markdown
      Konferansen arrangeres av frivillige entusiaster og finansieres ved hjelp av deltakeravgift og sponsormidler. I dag
      er fokus på smidig prosjektgjennomføring enda viktigere enn tidligere, og stadig nye bedrifter og organisasjoner tar
      i bruk metodene og teknikkene. Som sponsor for Smidigkonferansen, viser dere at dere satser på metoder som gir
      kostnadseffektivitet og god kvalitet. Tidligere konferanser har hatt mange deltakere fra viktige IT-miljøer som
      f.eks. If, NRK, Statens Pensjonskasse, Skandiabanken, Finn.no, Skatteetaten og KLP.

      Tidligere har vi sagt at det er viktig å understreke at smidige metoder ikke er én enkelt bedrifts kommersialiserte
      tanker og ideer, men derimot tankegodset til en hel bevegelse innenfor IT. Dette er også utgangspunktet for Smidigkonferansen. Vi ønsker at konferansen skal forbli et spleiselag, hvor alle sponsorer blir tilegnet like mye plass og
      oppmerksomhet. Å være sponsor for Smidigkonferansen er et sterkt signal om at dere stiller dere bak bevegelsen for smidige
      metoder og støtter opp under det frivillige initiativet som er drivkraften bak arrangement. Alle sponsormidlene går
      direkte inn i konferansens drift.

      Sponsorene går inn med kroner **25 000,-** hver og får for dette følgende:

      * Bedriftens logo på konferansens hjemmeside
      * Bedriftens logo på alle trykksaker til konferansen (plakater, flyveblader, program)
      * Bedriftens logo på eventuell annonsering, for eksempel i Computerworld
      * Hederlig omtale i konferansens åpningstale
      * Rett til å benytte Smidigkonferansen i bedriftens markedsføring
      * To deltakerbilletter til konferansen
      * Mulighet til å ha en pullup i fellesrom under konferanse og et bord der man kan diskutere med deltakerne i fellesrom under konferanse
      * Mulighet til å gjøre ett A4-ark med informasjon om bedriften tilgjengelig for alle deltakerne under konferansen

      **Ta kontakt med [kontakt@smidig.no](mailto:kontakt@smidig.no) dersom din bedrift er interessert i få vite mer om å
      sponse Smidigkonferansen.**

  .span4
    .image
      =image_tag (image_path "smidig2012_5.jpg")
      %p.caption
        Engasjerte deltakere
    .image
      =image_tag (image_path "sponsors.jpg")
      %p.caption
        Noen sponsorer fra Smidig 2012
