%h2 Vil din bedrift sponse Smidigkonferansen?
.row-fluid
  .span8
    :markdown
      Konferansen arrangeres av frivillige entusiaster og finansieres ved hjelp av deltakeravgift og sponsormidler. Som sponsor for Smidig 2014, viser dere at dere satser på metoder som gir kostnadseffektivitet og god kvalitet. Tidligere konferanser har hatt mange deltakere fra viktige IT-miljøer som f.eks. If, NRK, Nets, Fronter, Statens Pensjonskasse, Skandiabanken, Finn.no, Skatteetaten og KLP.
      
      Vi ønsker at konferansen skal forbli et spleiselag, hvor alle sponsorer blir tilegnet like mye plass og oppmerksomhet. Å være sponsor for Smidig 2014 er et sterkt signal om at dere stiller dere bak bevegelsen for smidige metoder og støtter opp under det frivillige initiativet som er drivkraften bak arrangement. Alle sponsormidlene går direkte inn i konferansens drift.

      Sponsorene går inn med kroner **30 000,-** hver og får for dette følgende:

      * Bedriftens logo på konferansens hjemmeside
      * Bedriftens logo på alle trykksaker til konferansen (plakater, flyveblader, program)
      * Bedriftens logo på eventuell annonsering, for eksempel i Computerworld
      * Hederlig omtale i konferansens åpningstale
      * Rett til å benytte Smidig 2014 i bedriftens markedsføring
      * To deltakerbilletter til konferansen
      * Mulighet til å ha en roll-up, et bord og stoler der man kan diskutere med deltakerne i fellesrom under 
      konferansen
      * Mulighet til å gjøre noe informasjon om bedriften tilgjengelig for alle deltakerne under konferansen
      * Mulighet til å arrangere elektroniske konkurranser (med premie)

      **Ta kontakt med [kontakt@smidig.no](mailto:kontakt@smidig.no) dersom din bedrift er interessert i få vite mer 
      om å sponse Smidigkonferansen.**

  .span4
    .image
      =image_tag (image_path "smidig2012_5.jpg")
      %p.caption
        Engasjerte deltakere
    .image
      =image_tag (image_path "sponsors.jpg")
      %p.caption
        Noen sponsorer fra Smidig 2012
