= render "menu"

%h1 Tema på Smidig 2013
.row-fluid
  .span10
    :markdown
      Som alltid er vi intressert i erfaringer fra reelle prosjekter innenfor IT-bransjen. 
      
      <!--
      [Lever ditt forslag i nå!](#{new_talk_path})
      -->

      Spesielt i år ønsker programkomiteen å trekke frem følgende temaer: Produktkøen, Software craftsmanship, Team,
      Realisering av verdi, Smidig Testing, Innovasjon, Continuous delivery og DevOps. Under finner du en kort
      beskrivelse av hvert tema og noen stikkord. Har du erfaringer innenfor disse temaene?

      <!--
      **I så fall burde du [sende inn ditt forslag](#{new_talk_path})** 
      -->

      *Siste frist for å levere ditt forslag er 1. oktober.*

      ### Produktkøen / Backlog 
      
      Produktkøen er en essensiell komponent i de fleste smidige prosjekter. [Les mer på
      wikipedia](http://en.wikipedia.org/wiki/Scrum_\(software_development\)#Product_Backlog)

      ** Noen stikkord: **

      * Verktøy (for å håndtere produktkøen)
      * Tekniske oppgaver 
      * Estimering
      * Prioritering
      * Estimeringsmøter
      * Storypoints 
      * Teknisk gjeld
      * Backlog grooming
        * Hvor mange? Hvem? Når?

      ### Software craftsmanship Med inspirasjon fra «[Manifesto for Software
      Craftsmanship](http://manifesto.softwarecraftsmanship.org/)» ønsker vi å løfte fokuset på håndverket bak
      programvareutviklking.

      ** Noen stikkord:**

      * Ikke-funksjonelle krav
      * Innføring av par-programmering
      * Verktøy for å måle teknisk gjeld
      * Deployment
      * Hurtig feedback
      * Git arbeidsflyter
        * feature branch vs. feature toggle osv
      * Testing
      * Vertøy for testing
      * Kontinuerlig testing
      * Mutation testing
      * Definisjon av ferdig (DoD)


      ### Team

      Hvordan få til et godt samarbeid i gruppen, med andre grupper og på tvers av roller,  organisasjoner og
      landegrenser?

      ** Stikkord:**

      * Gruppedynamikk
      * Hvordan involverere som ikke er en del av teamet? 
      * Metateam
      * Distribuerte team
      * Kaizen (kontinuerlig forbedring)
      * Utøvelse av produkteierskap
      * Hvordan få til ekste selvorganisering?
      * Coaching og mentoring
      * Hvordan utøve smidig ledelse?

      ### Realisering av verdi

      I de fleste prosjekter er det er viktig å levere funksjonalitet som realiserer en verdi.

      ** Stikkord:**
      
      * Hvordan måles verdi?
      * Hva er verdi?
      * Kan man benytte verdi som en enhet til og prioritere oppgaver?
      * Hvilke verktøy kan benyttes?
      * Hvem vurderer hva som er av verdi?
      * Hvordan verifiserer man verdi levert?

      ### Smidig Testing

      Hvordan fokusere på testing i en smidig verden? 

      ** Stikkord: **
      
      * Akseptansetestdrevet utvikling (ATDD)
      * Test i iterasjonene
      * hva er beste praksiser? 
      * Hvordan unngå “herdingssprinter”?
      * Testverktøy (Selenium...)
      * Brukertesting
      * Smertegrensen
      * Mutasjonstesting

      ### Innovasjon

      Hva rører seg i smidigmiljøet?

      ** Stikkord:**

      * Lean Startup
      * Business Model Canvas
      * Lean canvas


      ### Continuous delivery

      Kontinuerlig leveranse handler om å gå bort i fra å gjøre programvare klar for distribusjon i en separat
      aktivitet, og i steden utvikle programvare på en slik måte at den alltid er klar for produksjon.

      ** Stikkord: **

      * Sømløst
      * Hurtig feedback
      * Risiko (lav/høy)
      * Automatisering
      * Hvor ofte?
      * Utfordringer
      * Verktøy

      ### DevOps

      Koble utviklere med de som drifter applikasjonen, slik at bedriften har en løsning som kan endre seg ofte samtidig
      som den er stabil.

      ** Stikkord: **

      * Utviklere vs driftere
      * Operators
      * Stabilitet
      * Smertefri utrulling
      * Puppet



      <!--
      ### [Lever ditt forslag nå!](#{new_talk_path})
      -->
