= render "menu"

%h1 Tema på Smidig 2014
.row-fluid
  .span10
    :markdown
      Som alltid er vi interessert i reelle erfaringer fra smidig  utvikling innen IT-bransjen.
      
      <!--
      [Lever ditt forslag i nå!](#{new_talk_path})
      -->

      Spesielt i år ønsker programkomiteen å trekke frem følgende temaer: Smidig og offshoring, Smidig risikostyring,
      Verdiskapning, Erfaringsrapporter, DevOps, Systemtenking, Lean, Kontinuerlig forbedring og Software Craftsmanship.
      Under finner du en kort beskrivelse av hvert tema og noen stikkord. Har du erfaringer innenfor disse temaene?

      <!--
      **I så fall burde du [sende inn ditt forslag](#{new_talk_path})** 
      -->

      *Siste frist for å levere ditt forslag er 7. oktober.*

      ### Smidig og offshoring

      Offshoring har blitt mer og mer vanlig de siste årene. Hvordan gjennomfører man utvikling med distribuerte team på
      en best mulig måte? [Les mer på Wikipedia](http://en.wikipedia.org/wiki/Information_technology_outsourcing).

      **Noen stikkord:**

      * Kommunikasjon
      * Spesifikasjoner
      * Dokumentasjon
      * Team-sammensetning
      * Kvalitetssikring
      * Kulturforskjeller

      ### Smidig risikostyring

      Hvordan kan man i smidig systemutvikling holde styring og senke risiko for forsinkelser, overruns og skape
      trygghet på status for beslutningstagere?

      **Noen stikkord:**

      * Balansering av risiko
      * Risiko og hyppige leveranser
      * Kontrollrutiner
      * Bruk av omfang som styringsparameter
      * Kontraksformer
      * (Gjennomføring)
      * (Informasjonskvalitet)

      ### Verdiskapning

      Formålet med all systemutvikling er å skape verdi på en eller annen måte. Men hva er verdi og hvordan kan man
      maksimere den?

      **Noen stikkord:**

      * Hva er verdi?
      * Hvordan måles verdi?
      * Kan man benytte verdi som en enhet til og prioritere oppgaver?
      * Hvilke verktøy kan benyttes?
      * Hvem vurderer hva som er av verdi?
      * Hvordan verifiserer man verdi levert?

      ### Erfaringsrapporter

      Vi snakker mye om smidig og hvordan man teoretisk skal bruke smidige teknikker for å få et best mulig resultat.
      Men hvordan fungerer dette i praksis? Vi ønsker å utfordre våre foredragsholdere både til å snakke om det som har
      gått bra og det som har feilet miserabelt i smidig utvikling!

      **Noen stikkord:**

      * Hva var planen?
      * Hva fungerte? Hvorfor?
      * Hva fungerte ikke? Hvorfor?
      * Anbefalinger til andre?

      ### DevOps

      Koble utviklere med de som drifter applikasjonen, slik at bedriften har en løsning som kan endre seg ofte samtidig
      som den er stabil.

      **Noen stikkord:**

      * Utvikling vs drift
      * Kontinuerlige leveranser
      * Operators
      * Stabilitet
      * Smertefri utrulling
      * Puppet

      ### Systemtenkning

      Systemtenkning er prosessen med å forstå hvordan ting, sett på som systemer, påvirker hverandre hverandre som en
      helhet. I et team vil alle teammedlemmer påvirke hverandre og det finnes et uendelig sett med utfall. Hvordan kan
      vi påvirke dette? [Les mer på Wikipedia](http://en.wikipedia.org/wiki/Systems_thinking).

      **Noen stikkord:**

      * Ledelse av team
      * Selvorganiserende team
      * Bruk av Incentiver
      * Bevissthet rundt kompleksitet
      * Teknikker for samarbeid
      * Verktøy

      ### Lean

      Lean filosofi har vært et kjent begrep i mange år, men ser ut til å ha blitt mer og mer sentralt for mange
      selskaper de siste årene. Hvor langt har vi kommet? Hvordan kan lean hjelpe oss for å oppnå bedre resultater? [Les
      mer på Wikipedia](http://en.wikipedia.org/wiki/Lean_manufacturing).

      **Noen stikkord:**

      * Hvordan implementere et lean tankesett i en organisasjon?
      * (Hvordan sette mål for lean?)
      * (Hvordan måle suksess?)
      * Ende-til-ende optimlisering
      * Pull-prinsippet
      * Eksempler på “Waste” i kunnskapsarbeid
      * Flyteffektivitet vs. Ressurseffektivitet
      * Teknikker
      * Verktøy

      ### Kontinuerlig forbedring

      Både innenfor Lean og i smidige systemutvikling ønsker man kontinuerlig forbedring. Men hvar er egentlig dette og
      hvordan måler man det? Er det nok å ha retrospektives for å styre prosesser i en bedre retning?

      **Noen stikkord:**

      * Retrospective
      * Leveransehyppighet og læring
      * Kvalitetsparametere
      * Forbedring, men forbedring for hvem?
      * Teknikker
      * Verktøy

      ### Software craftsmanship

      Med inspirasjon fra «[Manifesto for Software Craftsmanship](http://manifesto.softwarecraftsmanship.org/)» ønsker
      vi å løfte fokuset på håndverket bak programvareutviklking.

      **Noen stikkord:**

      * Ikke-funksjonelle krav
      * Innføring av par-programmering
      * Verktøy for å måle teknisk gjeld
      * Deployment
      * Hurtig feedback
      * Git arbeidsflyter
       * feature branch vs. feature toggle osv
      * Testing
      * Vertøy for testing
      * Kontinuerlig testing
      * Mutation testing
      * Definisjon av ferdig (DoD)

      <!--
      ### [Lever ditt forslag nå!](#{new_talk_path})
      -->

%h1 Nivåer for foredrag
.row-fluid
  .span10
    :markdown
      I år har vi også valgt å innføre nivå på lyntalene som skal holdes. Ved forslag til lyntaler ønsker vi derfor at
      dere selv anbefaler nivå slik at andre kan ha en forventning om hva som kreves av forkunnskaper før de kommer.

      **Ny og nysgjerrig**  
      Svært få eller ingen forkunnskaper om smidig er nødvendig. Overkommelig med sunn fornuft!

      **Husvarm**  
      Deltagere antas å ha testet ut smidig eller lest om det på forhånd. 

      **Vært ute en vinternatt før**  
      Foredrag på dette nivået bygger videre på allerede eksisterende teori, og det er en nødvendighet at deltagere har
      opplevd smidig systemutvikling i praksis, og kjenner til mye teori på området.

