.content-wrapper
  %article.intro
    .date-time
      .location Oslo 2014
      .date 27. - 28. oktober 
      .small Radisson Blu Plaza Hotel


    %h1 Påmelding til Smidig 2014
    %p.preface
      Billettsalget for konferansen er nå i gang. Billetter koster 3 400 kr og er tilgjengelig helt frem til konferansen.

    = link_to('Meld deg på Smidig 2014!', new_user_registration_path, {:class => "btn pull-right"})

    = form_for TippedUser.new, :html => { :id => 'tip-a-friend', :class => "pull-right" } do |f|
      = f.email_field :email, :placeholder => 'E-post'
      = f.submit :class => 'btn btn-primary', :value => 'Tips en venn'

.fb-like{"data-href" => "http://www.facebook.com/smidig", "data-send" => "true", "data-show-faces" => "true", "data-width" => "900"}
