.content-wrapper
  %article.intro
    .date-time
      .location Oslo
      .date 5. - 6. november
      .year 2013
    %h1 Påmeldingen har åpnet!
    %p.preface
      I år arrangerer vi den syvende smidigkonferansen i Oslo. Også i år kan vi love to dager fylt med
      et solid faglig innhold innen smidige metoder. I tillegg vil du møte og diskutere med mange
      spennende kollegaer i bransjen.

    = link_to('Meld deg på Smidig 2013!', new_user_registration_path, {:class => "btn pull-right"})