.content-wrapper
  %article.intro
    .date-time
      .location Oslo
      .date 5. - 6. november
      .year 2013
    %h1 Smidig 2013
    %p.preface
      Vil inspirere og presentere nye trender i en sosial atmosfære!
    = link_to('Meld deg på', new_user_registration_path, {:class => "btn pull-right"})