.content-wrapper
  %article.intro
    .date-time
      .location Oslo
      .date 5. - 6. november
      .year 2013
    %h1 Påmelding
    %p.preface
      I år arrangerer vi den syvende smidigkonferansen i Oslo. Også i år kan vi love to dager fylt med
      et solid faglig innhold innen smidige metoder. I tillegg vil du møte og diskutere med mange
      spennende kollegaer i bransjen.
    %p
      %em Fristen for å melde seg på til early bird pris er 1. oktober. 

    = link_to('Meld deg på Smidig 2013!', new_user_registration_path, {:class => "btn pull-right"})

.fb-like{"data-href" => "http://www.facebook.com/smidig", "data-send" => "true", "data-show-faces" => "true", "data-width" => "900"}