.flex-container.top-slider
  .flexslider
    %ul.slides
      %li
        %img{:src => "#{image_path "vi_planlegger.jpg"}"}
        .row-fluid
          .caption.span5.offset1
            %h5.title
              Smidigkonferansens 2014
            %p.text
              Er under planlegging
      %li
        %a(href="https://vimeo.com/album/2596640")
          %img{:src => "#{image_path "slide_vimeo.png"}"}
          .row-fluid
            .caption.span5.offset1
              %h5.title
                Smidig 2013 er nå over!
              %p.text
                Fortvil ikke, alle presentasjonene er lastet opp til Vimeo!