.flex-container.top-slider
  .flexslider
    %ul.slides
      %li
        %a(href="#{smidig_offentlig_path}")
          %img{:src => "#{image_path "digitalisering.jpg"}"}
          .row-fluid
            .caption.span5.offset1
              %h5.title
                3 juni er det fokus p책 smidig i offentlig sektor
              %p.text
                Bli med p책 foredrag og diskusjon p책 Holbergs Terasse
      %li
        %img{:src => "#{image_path "vi_planlegger.jpg"}"}
        .row-fluid
          .caption.span5.offset1
            %h5.title
              Smidigkonferansens 2014
            %p.text
              Er under planlegging
      %li
        %a(href="https://vimeo.com/album/2596640")
          %img{:src => "#{image_path "slide_vimeo.png"}"}
          .row-fluid
            .caption.span5.offset1
              %h5.title
                Smidig 2013 er n책 over!
              %p.text
                Fortvil ikke, alle presentasjonene er lastet opp til Vimeo!