.flex-container.top-slider
  .flexslider
    %ul.slides
      %li
        %a(href="#{new_user_registration_path}")
          // TODO: Add correct image with proper size (940 x 400)
          %img{:src => "#{image_path "slide_demo.jpg"}"}
          .row-fluid
            .caption.span5.offset1
              %p.text
                Smidig 2013 vil inspirere og presentere nye trender i en sosial atmosfære.
                %br
                Oslo, 5. - 6. november 2013.
      %li
        %a(href="https://docs.google.com/forms/d/1n-whKRgdKyWhTVCNj-EAf463_7bllpZxh7-PVtjqtNs/viewform")
          // TODO: Add correct image with proper size (940 x 400)
          %img{:src => "#{image_path "slide_demo.jpg"}"}
          .row-fluid
            .caption.span5.offset1
              %h5.title
                Du kan påvirke Smidig 2013.
              %p.text
                Hjelp oss å utforme årets konferanse ved å svare på vår spørreundersøkelse.